/* PRIMARY COLORS */
/* PRIMARY FONTS */
.heading-logo-dark,
.heading-logo-light {
  font-family: "DM Serif Display", serif;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 10px;
  border-bottom: #000000 solid 1px;
  margin: 0;
}

.heading-logo-dark {
  color: #5C080E;
}

.heading-logo-light {
  color: #C20220;
}

body header {
  background-image: url(./public/images/header.png);
  background-size: cover;
  height: 320px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: flex-end;
  padding-bottom: 10px;
  padding-right: 30px;
}
body main {
  background: linear-gradient(to right, #BA0426, #E17987);
  height: 800px;
}