/* PRIMARY COLORS */
/* PRIMARY FONTS */
.main-heading {
  font-family: "DM Serif Display", serif;
  color: #f6f6f6;
  padding: 20px;
  border-bottom: 10px dotted white;
  display: inline-block;
  font-size: 50px;
  letter-spacing: 3px;
}

body header {
  background-image: url(./public/images/header.png);
  background-size: cover;
  height: 320px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding: 0 30px 10px 0;
}
body header .heading-logo-dark,
body header .heading-logo-light {
  font-family: "DM Serif Display", serif;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 10px;
  border-bottom: #000000 solid 1px;
  margin: 0;
}
body header .heading-logo-dark {
  color: #5c080e;
}
body header .heading-logo-light {
  color: #c20220;
}
body main {
  background: linear-gradient(to right, #ba0426, #e17987);
  border-top: 3px solid #ba0426;
  box-shadow: inset 0px 10px 50px -30px #000000;
}
body main .shopping-cart {
  display: flex;
  background-color: #fcbd1a;
  height: 6rem;
  width: 6rem;
  border-radius: 4rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-right: 1rem;
  border: none;
  position: fixed;
  right: 0;
  z-index: 1;
}
body main .bi-cart {
  font-size: 5rem;
}
body main .cart-container .offcanvas.offcanvas-end {
  top: 21rem;
  width: 30rem;
  z-index: 1055;
}
body main .cart-container .offcanvas.offcanvas-end .offcanvas-header {
  justify-content: center;
  border: 1px solid #000;
  padding: 10px 0;
}
body main .cart-container .offcanvas.offcanvas-end .offcanvas-header .offcanvas-title {
  font-family: "DM Serif Display", serif;
  letter-spacing: 7px;
  text-transform: uppercase;
  padding-left: 20px;
}
body main .cart-container .offcanvas.offcanvas-end .offcanvas-body {
  background: linear-gradient(to bottom, #ffd15a, #ffe5a0);
  overflow-x: hidden;
}
body main .cart-container .offcanvas.offcanvas-end .offcanvas-body .cart-item {
  background-color: #fff;
  height: 90px;
  --bs-gutter-x: 0;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(196, 196, 196);
}
body main .cart-container .offcanvas.offcanvas-end .offcanvas-body .cart-item .cart-img {
  border-right: 1px solid rgb(150, 150, 150);
  margin: 1rem;
}
body main .cart-container .offcanvas.offcanvas-end .offcanvas-body .cart-item .cart-img img {
  width: 50px;
  height: 50px;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4862745098);
}
body main .cart-container .offcanvas.offcanvas-end .offcanvas-body .cart-item .cart-info .cart-name {
  background-color: #f6f6f6;
  display: inline-block;
  margin: 1rem 0;
  padding: 0 10px;
  font-size: 0.8rem;
}
body main .cart-container .offcanvas.offcanvas-end .offcanvas-body .button-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
body main .cart-container .offcanvas.offcanvas-end .offcanvas-body .button-container button {
  width: 170px;
  padding: 10px;
}
body main .cart-container .offcanvas-backdrop {
  --bs-backdrop-bg: $clr-white;
  background-color: #f6f6f6;
  top: unset;
}
body main .modal {
  background: linear-gradient(to right, #ba0426, #e17987);
  top: 0;
}
body main .modal .heading-container {
  display: flex;
  justify-content: center;
}
body main .modal .modal-img {
  border-radius: 20px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4862745098);
}
body main .modal .modal-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #ba0426;
}
body main .modal .modal-body {
  font-family: "Source Sans Pro", sans-serif;
}
body main .modal .modal-body .modal-price {
  font-family: "Neucha", cursive;
}
body main .container {
  --bs-gutter-x: 3rem;
}
body main .container .main-heading-container {
  display: flex;
  justify-content: center;
}
body main .container .product-overview {
  margin: 40px 0 -20px 0;
}
body main .container .product-overview .col-6 {
  padding: 0;
}
body main .container .product-overview .col-6 p {
  margin: 0;
  color: #fff;
}
body main .container .product-overview .filter {
  display: flex;
  justify-content: flex-end;
}
body main .container .products-container div .card {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4862745098);
  height: 293px;
}
body main .container .products-container div .card .card-img {
  border-radius: 20px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.4862745098);
}
body main .container .products-container div .card .card-body {
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body main .container .products-container div .card .card-body .card-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin: 0;
}
body main .container .products-container div .card .card-body .card-text {
  font-family: "Neucha", cursive;
  font-size: 20px;
  margin: 0;
}
body main .container .products-container div .card .card-body button .bi-basket {
  height: 25px;
  width: 25px;
  padding-right: 5px;
}
body main .clr-button {
  background-color: #fcbd1a;
  border: 0;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
}

/* MEDIA QUERIES - TABLET */
@media screen and (min-width: 768px) {
  body main .container .row div .card {
    height: 367px;
  }
  body main .container .row div .card .card-body .card-title {
    font-size: 18px;
  }
  body main .container .row div .card .card-body .card-text {
    font-size: 30px;
  }
  body main .clr-button {
    font-size: 20px;
    padding: 5px 15px;
  }
}
/* MEDIA QUERIES - LAPTOP/DESKTOP */
@media screen and (min-width: 1440px) {
  body main .container .row {
    --bs-gutter-x: 4rem;
  }
  body main .container .row div .card {
    height: unset;
  }
  body main .container .row div .card .card-body {
    display: block;
  }
  body main .container .row div .card .card-body .card-title {
    margin: 5px;
    font-size: 22px;
  }
  body main .container .row div .card .card-body .card-text {
    margin: 5px;
    font-size: 30px;
  }
  body main .clr-button {
    font-size: 20px;
    padding: 5px 15px;
  }
}