/* PRIMARY COLORS */
$heading-logo-dark: #5c080e;
$heading-logo-light: #c20220;

$bg-gradient-dark: #ba0426;
$bg-gradient-light: #e17987;

$clr-button: #fcbd1a;

$menu-gradient-dark: #ffd15a;
$menu-gradient-light: #ffe5a0;

$clr-white: #f6f6f6;

/* PRIMARY FONTS */
$ff-logo: "DM Serif Display", serif;
$ff-price: "Neucha", cursive;
$ff-product: "Source Sans Pro", sans-serif;

$fw-light: 400;
$fw-bold: 700;

body {
  header {
    background-image: url(./public/images/header.png);
    background-size: cover;
    height: 320px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding: 0 30px 10px 0;

    // heading-logo
    .heading-logo-dark,
    .heading-logo-light {
      font-family: "DM Serif Display", serif;
      font-size: 60px;
      text-transform: uppercase;
      letter-spacing: 10px;
      border-bottom: #000000 solid 1px;
      margin: 0;
    }

    .heading-logo-dark {
      color: $heading-logo-dark;
    }

    .heading-logo-light {
      color: $heading-logo-light;
    }
  }

  main {
    background: linear-gradient(
      to right,
      $bg-gradient-dark,
      $bg-gradient-light
    );
    border-top: 3px solid $bg-gradient-dark;
    box-shadow: inset 0px 10px 50px -30px #000000;

    .cart_container {
      position: sticky;
      display: flex;
      justify-content: flex-end;
      top: 1rem;
      z-index: 1;
    }

    .shopping-cart {
      display: flex;
      background-color: #fcbd1a;
      height: 6rem;
      width: 6rem;
      border-radius: 4rem;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;
      margin-left: 1rem;
    }
    .bi-cart {
      font-size: 5rem;
      color: black;
    }

    .container {
      --bs-gutter-x: 3rem;
    }

    .card {
      padding: 20px;
      border-radius: 20px;
      box-shadow: 1px 1px 15px #0000007c;

      .card-img {
        border-radius: 20px;
        box-shadow: 1px 1px 15px #0000007c;
      }

      .card-body {
        padding: 0;
        text-align: center;

        .card-title {
          font-family: $ff-product;
          font-weight: $fw-bold;
          font-size: 16px;
        }

        .card-text {
          font-family: $ff-price;
          font-size: 20px;
        }

        button {
          .bi-basket {
            height: 25px;
            width: 25px;
          }
        }
      }
    }
  }
}

/* MEDIA QUERIES - TABLET */
@media screen and (min-width: 768px) {
}

/* MEDIA QUERIES - LAPTOP/DESKTOP */
@media screen and (min-width: 1440px) {
  body {
    main {
      .row {
        // adding space between the cards
        --bs-gutter-x: 4rem;
      }

      .card {
        .card-body {
          .card-title {
            font-size: 22px;
          }

          .card-text {
            font-size: 30px;
          }

          // E1S1T9 - add styling to btn if necessary
        }
      }
    }
    footer {
      .cart_container {
        position: sticky;
        display: flex;
        justify-content: flex-end;
        bottom: 1rem;
        z-index: 1;
      }

      .shopping-cart {
        display: flex;
        background-color: #fcbd1a;
        height: 6rem;
        width: 6rem;
        border-radius: 4rem;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        margin-left: 1rem;
      }
      .bi-cart {
        font-size: 5rem;
        color: black;
      }
    }
  }
}
