/* PRIMARY COLORS */
$heading-logo-dark: #5C080E;
$heading-logo-light: #C20220;

$bg-gradient-dark: #BA0426;
$bg-gradient-light: #E17987;

$clr-button: #FCBD1A;

$menu-gradient-dark: #FFD15A;
$menu-gradient-light: #FFE5A0;

$clr-white: #F6F6F6;

/* PRIMARY FONTS */
$ff-logo: 'DM Serif Display', serif;
$ff-price: 'Neucha', cursive;
$ff-product: 'Source Sans Pro', sans-serif;

$fw-light: 400;
$fw-bold: 700;


// heading-logo
.heading-logo-dark,
.heading-logo-light {
  font-family: 'DM Serif Display', serif;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 10px;
  border-bottom: #000000 solid 1px;
  margin: 0;
}

.heading-logo-dark {
  color: $heading-logo-dark;
}

.heading-logo-light {
  color: $heading-logo-light;
}


body {
  header {
    background-image: url(./public/images/header.png);
    background-size: cover;
    height: 320px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
    padding-bottom: 10px;
    padding-right: 30px;
  }
}